{% extends 'base.html' %}
{% load markdownify %}
{% load static %}

{% block content %}
  <main class="recipes_detail">
     {% comment %} <div>
      <a href="{% url 'MealPlan_edit' MealPlan.id %}">Edit</a>
      <a href="{% url 'MealPlan_delete' MealPlan.id %}">Delete</a>
    </div> {% endcomment %}
    <h2>MealPlan for {{ user }}</h2>
    {% for recipe in MealPlan_list.pk %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
{% endblock content %}
